

@{
    ViewData["Title"] = "Home Page";
}
<head>

   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</head>


    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin-top:20vh;
            padding: 0;
            box-sizing: border-box;

        }

        .image-container {
            margin-top:5vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 20vh;
        
        }

            .image-container img {
                max-width: 100%;
            margin-top: 5vh;
            height: auto;
            }

        .left-section,
        .right-section {
            flex-basis: 30%; /* Adjust the width of each section */
            padding: 20px; /* Add padding for spacing */
            box-sizing: border-box;
     

        }

        .left-section {
            order: 1; /* Display on the left */
        }

        .right-section {
            order: 2; /* Display on the right */
        }
        .maindiv{
      
    }
    </style>


<div class="container">
    <img src="/images/hospital.jpg" style="height:60vh;width:80vw;margin-top:10vh" />
</div>


@*    <div class="container margin-top:25vh"
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- the slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <img src="/images/css/01.jpg" style="width:100%" />
                </div>
                <div class="carousel-item">
                    <img src="/images/css/02.jpg">
                </div>
                <div class="carousel-item">
                    <img src="/images/css/3.jpg">
                </div>

            </div>

            <!-- left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

        </div>


    </div>
</div>


  <script>
        $("#demo").carousel
        { 
            interval:2000
        }};
    </script>*@
    
 @*   <section class=" services">
<div class="container" style=" padding-top:25px;  margin-top:10vh">
    <h2 style="font:bolder;color:midnightblue">OUR SERVICES</h2>
</div>
    <section class="services container-fluid  d-flex flex-row" style="font-family'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;font-size: 15px;line-height: 1.6;color: #333; margin-bottom: 20px">

    
   
    <div class="servic-row row margin-top:8vh ">
      
        <div class="servic-col col-md-4 pt-5  ">
            <div class="servcover" style="width:500px ; height:150px">
                <img src="assets/images/icon/001.png" alt="">
                <h4>Dental Implants</h4>
                <p>The implant fixture is first placed, so that it is likely to osseointegrate, then a dental prosthetic is added.</p>
            </div>
        </div>
        </div>
    <div class="servic-col col-md-4 pt-5">
        <div class="servcover" style="width:500px; height:150px">
            <img src="assets/images/icon/002.png" alt="">
            <h4>Maxillofacial Surgery</h4>
            <p>The implant fixture is first placed, so that it is likely to osseointegrate, then a dental prosthetic is added.</p>
        </div>
    </div>
    <div class="servic-col col-md-4 pt-5">
        <div class="servcover" style="width:500px ; height:150px; margin-left:5vw">
            <img src="assets/images/icon/003.png" alt="">
            <h4>Endodontics</h4>
            <p>The implant fixture is first placed, so that it is likely to osseointegrate, then a dental prosthetic is added.</p>
        </div>
    </div>
</section>
    <section class="services container-fluid d-flex" style="flex-direction:row">
    <div class="servic-col col-md-4">
        <div class="servcover" style="width:500px ; height:150px ; margin-left:0vw">
            <img src="assets/images/icon/004.png" alt="">
            <h4>Intervention Dentistry</h4>
            <p>The implant fixture is first placed, so that it is likely to osseointegrate, then a dental prosthetic is added.</p>
        </div>
    </div>
    <div class="servic-col col-md-4">
        <div class="servcover" style="width:500px ; height:150px; margin-left:4vw">
            <img src="assets/images/icon/005.png" alt="">
            <h4>Braces</h4>
            <p>The implant fixture is first placed, so that it is likely to osseointegrate, then a dental prosthetic is added.</p>
        </div>
    </div>
    <div class="servic-col col-md-4" >
        <div class="servcover" style="width:500px ; height:150px;margin-left:9vw" >
            <img src="assets/images/icon/006.png" alt="">
            <h4>Teeth Whitening</h4>
            <p>The implant fixture is first placed, so that it is likely to osseointegrate, then a dental prosthetic is added.</p>
        </div>
    </div>

    </section>
</section>*@
<section >
    <div style="margin-top:15vh"  >
        <h2 style="font:bolder">
            About
        </h2>
        <p style="text-align:left;    font-family: 'Arial', sans-serif;font-size: 25px;line-height: 1.6;color:midnightblue; margin-bottom: 20px;
" >
            Established in 2007, Jupiter Hospital is a tertiary and quaternary healthcare hospital that lays its foundation on a ‘Patient first’ ideology.
            Our hospitals in Thane and Pune follow a Greenfield strategy for catering end-to-end healthcare needs of our patients.
            The first Jupiter hospital is situated in the vicinity of the arterial Eastern Express Highway in Thane, and offers easy connectivity and accessibility to patients from across Thane.
            Going beyond the city, Jupiter Hospital extended its services to the city of Pune in 2017. And now the multi specialty tertiary and quaternary care hospital is present in Indore, Madhya Pradesh too, with Vishesh Jupiter Hospital established in 2020.
        </p>
    </div>
    <body>
        <div class="maindiv">
            <h2 style=" margin-top:10vh;">ACCREDIATIONS</h2>
            <div class="image-container">

                <div class="left-section">
                    <img src="/images/nabhaccc.webp" alt="Image 1">
                    <img src="/images/nabh_2.webp" alt="Image 1">
                    <img src="/images/nabh_3.webp" alt="Image 1">

                </div>
                <div class="right-section">
                    <p style=" font-size:20px;color:black"> Proudly accrediated to Respected organisations like NABH,NAbh &Aacute; National Medical Associaltion</p>
                </div>
            </div>
            <h2 style=" margin-top:10vh;">AWARDS</h2>
            <div class="image-container">
                <div class="left-section">
                    <p style="font-size:20px;color:black">Awarded As Best Employer By Maharashtra State Hospital Association </p>

                </div>

                <div class="right-section">

                    <img src="/images/award1.webp" alt="Image 1">

                </div>
            </div>
        </div>

    </body>
    <div style="margin-top:15dvh">
        <h2 style="font:bolder">Mission</h2>
        <p style="margin-top:5vh;font-family: 'Arial', sans-serif;font-size: 25px;line-height: 1.6;color:midnightblue; margin-bottom: 20px">
            Our mission is to create the best infrastructure,
            technology and support to put Patient First & foremost and be futuristic,
            innovative in delivery of healthcare
        </p>
    </div>
    <div style="margin-top:15vh">
        <h2 style="font:bolder">Vision</h2>
        <p style="margin-top:5vh;font-family: 'Arial', sans-serif;font-size: 25px;line-height: 1.6;color:midnightblue; margin-bottom: 20px">
            Our vision is to be a full-service hospital,
            operating independently and serving the end-to-end healthcare needs of patients,
            right from diagnostics to surgery and rehabilitation.
        </p>
    </div>
    <div style="margin-top:15vh">
        <h2 style="font:bolder">  Jupiter Hospitals boast best infrastructure and facility.</h2>
        <p style="margin-top:5vh;font-family: 'Arial', sans-serif;font-size: 25px;line-height: 1.6;color:midnightblue; margin-bottom: 20px">

            Catering to our ‘Patient First’ ideology, Jupiter Hospital’s infrastructure has latest medical technology and equipments.
            Our Pune hospital’s building is environmentally conscious BEEP certified. Jupiter Hospitals hosts over 1000 beds across three cities,
            and a luxury hotel managed by a leading hotel chain, catering to demands of patients’ families and attendants at our hospital in Thane.
            spital infrastructure refers to the buildings, spaces, and technologies that support daily functioning and ensure continued safe and effective operation1.
            It includes well-planned spaces, water and energy, and telecommunications1. The size and layout of a room, the amount of space for patients to walk, 
            and the number of beds or operating equipment that can be accommodated are important factors in hospital infrastructure2.
            Hospitals are comprised of a wide range of services and functional units, including diagnostic and treatment functions,
            hospitality functions, and inpatient care3.
        </p>
    </div>

</section>
@*<section class="container-fluid">
    <div style="margin-top:5vh">
        <h2 style="font:bolder"> 
            Our Team
        </h2>
    </div>
    <div class="container">
    <div class="row pb-3">

        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        <img src="~/images/d1.jpg" class="card-img-top rounded" />
                        <div class="card-body pb-0">
                            <div class="p-1">
                                <p class="card-title h5 text-dark oppacity-75 text-uppercase text-center">DR.ARUN KUMAR </p>
                                <p class="card-title  text-warning text-center">CARDIOLOGIST</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        <img src="~/images/d2.jpg" class="card-img-top rounded" />
                        <div class="card-body pb-0">
                            <div class="p-1">
                                <p class="card-title h5 text-dark oppacity-75 text-uppercase text-center">DR.VENUGOPAL IYER</p>
                                <p class="card-title  text-warning text-center">DENTIST </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        <img src="~/images/d3.jpg" class="card-img-top rounded" />
                        <div class="card-body pb-0">
                            <div class="p-1">
                                <p class="card-title h5 text-dark oppacity-75 text-uppercase text-center">DR.STEVE ROGERS </p>
                                <p class="card-title  text-warning text-center">GENERAL PHYSICIAN </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        <img src="/images/css/images/d4.jpg" class="card-img-top rounded" />
                        <div class="card-body pb-0">
                            <div class="p-1">
                                <p class="card-title h5 text-dark oppacity-75 text-uppercase text-center">DR.TONY STARK </p>
                                <p class="card-title  text-warning text-center">BRAIN SPECIALIST </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
</section>*@
<section class="container-fluid">
    <div style="margin-top:5vh">
        <h2 style="font:bolder">
            Facilities
        </h2>
    </div>
    <div class="container">
        <div class="row pb-3">

            <div class="col-lg-3 col-sm-6">
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card border-0 p-3 shadow border-top border-5 rounded">
                            <img src="~/images/d1.jpg" class="card-img-top rounded" />
                            <div class="card-body pb-0">
                                <div class="p-1">
                                    <p class="card-title h5 text-dark oppacity-75 text-uppercase text-center"> BEST DOCTORS </p>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card border-0 p-3 shadow border-top border-5 rounded">
                            <img src="~/images/pexels-nothing-ahead-3584099.jpg" class="card-img-top rounded" style="height:30vh" />
                            <div class="card-body pb-0">
                                <div class="p-1">
                                    <p class="card-title h5 text-dark oppacity-75 text-uppercase text-center">24x7 AMBULANCE SERVICE</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card border-0 p-3 shadow border-top border-5 rounded">
                            <img src="~/images/room.webp" class="card-img-top rounded" style="height:30vh" />
                            <div class="card-body pb-0">
                                <div class="p-1">
                                    <p class="card-title h5 text-dark oppacity-75 text-uppercase text-center">BEST IN CLASS ROOMS </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card border-0 p-3 shadow border-top border-5 rounded">
                            <img src="/images/css/images/d4.jpg" class="card-img-top rounded" />
                            <div class="card-body pb-0">
                                <div class="p-1">
                                    <p class="card-title h5 text-dark oppacity-75 text-uppercase text-center">EXPERIANCED DOCTORS </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


@* <section class="our-team">
    <div class="container">
        <div class="section-title row">
            <h2>Our Team</h2>

        </div>
        <div class="row team-row">
            <div class="col-md-3 col-sm-6">
                <div class="single-usr">
                    <img src="/images/d1.jpg" alt="">
                    <div class="det-o">
                        <h4>David Kanuel</h4>
                        <i>Facial Surgan</i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-usr">
                    <img src="/images/d2.jpg" alt="">
                    <div class="det-o">
                        <h4>David Kanuel</h4>
                        <i>Facial Surgan</i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-usr">
                    <img src="/images/d3.jpg" alt="">
                    <div class="det-o">
                        <h4>David Kanuel</h4>
                        <i>Facial Surgan</i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-usr">
                    <img src="assets/images/team/d4.jpg" alt="">
                    <div class="det-o">
                        <h4>David Kanuel</h4>
                        <i>Facial Surgan</i>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>*@