@{
    ViewData["Title"] = "Privacy Policy";
}
<body class="contact">
<div class="container" style="display:flex;flex-direction:row">
    <section class="contact">
<section class="card  border-0 p-3 shadow border-top border-2 rounded" style="margin-top: 12vh;display: flex;flex-direction: row; height: 80vh;margin-bottom: 54px">
    
        <div class="row justify-content-center" style="margin-top:5vh; font-size:larger">
            
                                <h2 class="mb-4">Contact us</h2>
                                <div class="dbox w-100 d-flex align-items-start">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-map-marker"></span>
                                    </div>
                                    <div class="text pl-4">
                                        <p><span>Address:</span> Service Rd, Eastern Express Hwy, next to Viviana Mall, Thane, Maharashtra 400601</p>
                                    </div>
                                </div>
                                <div class="dbox w-100 d-flex align-items-start">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-phone"></span>
                                    </div>
                                    <div class="text pl-4">
                                        <p><span> Emergency contact:</span> <a href="tel://1234567920">+91 9564713312</a></p>
                                    </div>
                                </div>
                                <div class="dbox w-100 d-flex align-items-start">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-paper-plane"></span>
                                    </div>
                                    <div class="text pl-4">
                                        <p><span>Email:</span> <a href="mailto:info@yoursite.com">INFOJUPITER@gmail.com</a></p>
                                    </div>
                                </div>
                                <div class="dbox w-100 d-flex align-items-start">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-globe"></span>
                                    </div>
                                    <div class="text pl-4">
                                        <p><span>Website</span> <a href="#">www.jupiterthane.in</a></p>
                                    </div>
                                </div>
                                <section>
                                  
                                              </div class="border-5 rounded">
                                              
                             <div class="map" style="width:40vw;height:20vh;margin-top:5vh;padding-bottom:10vh">
                                  <h2 >Location</h2>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.6647455671423!2d72.96965222450378!3d19.20983993202254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b91fc57eeea5%3A0x2b8143e0b0d4a0ef!2sJupiter%20Hospital%2C%20Thane!5e0!3m2!1sen!2sin!4v1704464494064!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
                                </section>
        
</section>
        </body>


   
   


