

<section class=" services"style="margin-left:0">
    <div class="container" style=" padding-top:25px;  margin-top:15vh">
        <h2 style="font:bolder;color:midnightblue">OUR SERVICES</h2>
    </div>
    <section class="services container-fluid  d-flex flex-row" style="font-family'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;font-size: 15px;line-height: 1.6;color: #333; margin-bottom: 20px">



        <div class="servic-row row margin-top:8vh ">

            <div class="servic-col col-md-4 pt-5  ">
                <div class="servcover" style="width:490px ; height:150px;border:outset;text-align:center">
                    <img src="assets/images/icon/001.png" alt="">
                    <h4>Dental Implants</h4>
                    <p>The implant fixture is first placed, so that it is likely to osseointegrate, then a dental prosthetic is added.</p>
                </div>
            </div>
        </div>
        <div class="servic-col col-md-4 pt-5">
            <div class="servcover" style="width:490px; height:150px;border:outset;text-align:center">
                <img src="assets/images/icon/002.png" alt="">
                <h4>Maxillofacial Surgery</h4>
                <p>The implant fixture is first placed, so that it is likely to osseointegrate, then a dental prosthetic is added.</p>
            </div>
        </div>
        <div class="servic-col col-md-4 pt-5">
            <div class="servcover" style="width:500px ; height:150px; margin-left:5vw;border:outset;text-align:center">
                <img src="assets/images/icon/003.png" alt="">
                <h4>Endodontics</h4>
                <p>The implant fixture is first placed, so that it is likely to osseointegrate, then a dental prosthetic is added.</p>
            </div>
        </div>
    </section>
    <section class="services container-fluid d-flex" style="flex-direction:row">
        <div class="servic-col col-md-4">
            <div class="servcover" style="width:500px ; height:150px ; margin-left:0vw;border:outset;text-align:center">
                <img src="assets/images/icon/004.png" alt="">
                <h4>Intervention Dentistry</h4>
                <p>The implant fixture is first placed, so that it is likely to osseointegrate, then a dental prosthetic is added.</p>
            </div>
        </div>
        <div class="servic-col col-md-4">
            <div class="servcover" style="width:500px ; height:150px; margin-left:4vw;border:outset;text-align:center">
                <img src="assets/images/icon/005.png" alt="">
                <h4>Braces</h4>
                <p>The implant fixture is first placed, so that it is likely to osseointegrate, then a dental prosthetic is added.</p>
            </div>
        </div>
        <div class="servic-col col-md-4">
            <div class="servcover" style="width:500px ; height:150px;margin-left:9vw;border:outset;text-align:center">
                <img src="assets/images/icon/006.png" alt="">
                <h4>Teeth Whitening</h4>
                <p>The implant fixture is first placed, so that it is likely to osseointegrate, then a dental prosthetic is added.</p>
            </div>
        </div>

    </section>
</section>
<div style="height:32vh">

</div>
